<!DOCTYPE html>
<html>
<head>
    <title>Cybersecurity Fundamentals</title>
</head>

<body>

    <h1>{{ quiz_category }}</h1>

    <h2>What is Cybersecurity?</h2>

    <p>
        Cybersecurity is the practice of protecting computers,
        networks, applications, and information from unauthorized
        access, misuse, or disruption.
    </p>

    <h2>Common Cyber Threats</h2>

    <ul>
        <li>Phishing</li>
        <li>Malware</li>
        <li>Password attacks</li>
        <li>Social engineering</li>
        <li>Unsafe websites and downloads</li>
    </ul>

    <h2>Basic Safety</h2>

    <ul>
        <li>Use strong, unique passwords.</li>
        <li>Keep software updated.</li>
        <li>Be careful with unexpected links and attachments.</li>
        <li>Use multi-factor authentication when available.</li>
       </ul>

    <br><br>

    <a href="/learn/fundamentals/quiz">
        Take Quiz
    </a>

    <br><br>

    <a href="/learn">
        Back to Learn
    </a>

</body>
</html>